; Salin nilai berikut ke pool www PHP-FPM pada VPS RAM 1 GB.
; Ubuntu 26.04: /etc/php/8.5/fpm/pool.d/www.conf

[www]
pm = ondemand
pm.max_children = 3
pm.process_idle_timeout = 8s
pm.max_requests = 300

request_terminate_timeout = 45s
php_admin_value[memory_limit] = 96M
php_admin_value[max_execution_time] = 45
php_admin_value[upload_max_filesize] = 2M
php_admin_value[post_max_size] = 2M
